@using BackendlessAPI;
@model KASY_RIDES.Models.Users

@{
    ViewData["Title"] = "EditProfile";
}

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f8f8f8;
    }

    .container {
        max-width: auto;
        margin: 40px auto;
        padding: 20px;
        /* background: white; */
        background-image: url('https://t3.ftcdn.net/jpg/04/99/56/30/240_F_499563059_GGQxzylCFmlUlL1jr5rVrbYE9yk9vkmp.jpg');
        background-size: cover;
        border: 1px solid#ddd;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    header {
        background-color: #000;
        color: #fff;
        padding: 20px;
        text-align: center;
    }

    h1 {
        text-align: center;
        margin-bottom: 10px;
    }

    h4 {
        text-align: center;
        margin-bottom: 10px;
    }

    footer {
        background-color: #333;
        color: #fff;
        padding: 1em;
        text-align: center;
        clear: both;
    }
</style>

<header>
    <h1>EditProfile</h1>
    <h4>Users</h4>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS02qPnvJZZtWoCfpC1S7quJUEsSJxehJQmOQ&s" alt="logo" width="100" height="100" />
</header>
<hr />
<body>
    <div class="container">
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditProfile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="objectId" class="control-label"></label>
                <input asp-for="objectId" class="form-control" />
                <span asp-validation-for="objectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            

            <!-- Conditional Fields Based on Role -->
            @if (Backendless.UserService.CurrentUser.GetProperty("Role").ToString() == "Driver")
            {
                <div class="form-group">
                    <label asp-for="VehicleId" class="control-label"></label>
                    <input asp-for="VehicleId" class="form-control" />
                    <span asp-validation-for="VehicleId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VehicleModel" class="control-label"></label>
                    <input asp-for="VehicleModel" class="form-control" />
                    <span asp-validation-for="VehicleModel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VehicleDisc" class="control-label"></label>
                    <input asp-for="VehicleDisc" class="form-control" />
                    <span asp-validation-for="VehicleDisc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LicenseNumber" class="control-label"></label>
                    <input asp-for="LicenseNumber" class="form-control" />
                    <span asp-validation-for="LicenseNumber" class="text-danger"></span>
                </div>
            }
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    <a asp-action="Profile" asp-controller="User">Back to Profile</a>
</div>
</div>
</body>
