@model Kasy_Rides.Models.BankAccount

@{
    ViewData["Title"] = "Deposit";
}

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f8f8f8;
        
    }

    h4{
        text-align: center;
    }


    .container {
        max-width: auto;
        margin: 40px auto;
        padding: 20px;
        /* background: white; */
        background-image: url('https://t3.ftcdn.net/jpg/04/99/56/30/240_F_499563059_GGQxzylCFmlUlL1jr5rVrbYE9yk9vkmp.jpg');
        background-size: cover;
        border: 1px solid#ddd;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    header {
        background-color: #000;
        color: #fff;
        padding: 20px;
        text-align: center;
    }

    footer {
        background-color: #333;
        color: #fff;
        padding: 1em;
        text-align: center;
        clear: both;
    }
</style>

<header>
    <h1>Deposit</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS02qPnvJZZtWoCfpC1S7quJUEsSJxehJQmOQ&s" alt="logo" width="100" height="100" />
</header>
<body>
    <div class="container">

<h4>Enter an amount to Deposit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Deposit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Balance" class="control-label"></label>
                <input asp-for="Balance" class="form-control" />
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Deposit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    <a asp-action="Index">Account Info</a>
</div>
</div>
</body>